<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand">
    Fernando Schimidt
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">Categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles" class="nav-link">Artigos</a>
    </li>

  
  </ul>

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a href="/admin/users/create" class="nav-link">Criar novo usuario</a>
  </li>
  
  <li class="nav-item">
      <a href="/logout" class="nav-link">Sair</a>
    </li>

  </ul>
</nav>