<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
      
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
      
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles/new">Novo artigo</a>
        </li>
      
    </ul>
</nav>