body {
    background: linear-gradient(90deg, #00aaee 10%, #DD2476 90%);
}

hr {
    background: white;
}

a {
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
    transition: font-size 0.5s, transform 0.5s;
}

.jumbotron, .card, .table {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);

}

.dropdown-item:hover{
 color:#DD2476;
 font-size: 25px;

}
/* .login{
    background-color: #fff;
    bottom: 0;
    box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.3); 
    height: 150px;
    left: 0;
    margin: auto;
    overflow:hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    transition:1s;
}
.login:hover{
    width: 380px;
    height: 450px;
}
 */
