<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            Criação de usuario
<h2></h2>
        </div>
        <div class="card-body">
        <form action="/users/create" method="POST">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <br>
            <input type="password" name="password" class="form-control" placeholder="Senha">
            <br>
            <button type="submit" class="btn btn-success btn-block">Criar</button>
        </form>        
        </div>
    </div>
</div>

<%-include('../../partials/footer.ejs')%>