<%- include('../../partials/header.ejs') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">
      GuiaPress
    </a>
 
  </nav>

<!-- Tela Login futura
  <div class="login">
    <div class="cta_container animate">
        <a href="#" class="cta">Call to action</a>
    </div>
    <div class="card_circle animate"></div>
  </div> -->
<div class="container col-sm-4 text-center ">
    <hr>
    <div class="card mt-5">
        <div class="card-header">

            <h2>Login de administrador</h2>
        </div>
        <div class="card-body ">
            <form action="/authenticate" method="POST">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <br>
                <input type="password" name="password" class="form-control" placeholder="Senha">
                <br>
                <button type="submit" class="btn btn-outline-primary btn-block">Logar</button>
            </form>
        </div>
    </div>
    <hr class="mt-5">
</div>

<%-include('../../partials/footer.ejs')%>